{% extends "base/base.twig" %}

{% block content %}
  <form class="form is-auth" action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">
    <label for="form-{{ post.ID }}">Password:</label>
    <input class="form-control" id="form-{{ post.ID }}" name="post_password" type="password" size="20" maxlength="20" placeholder="{{ fn('pll_e', 'Пароль') }}">
    <button class="btn is-primary" type="submit">
     {{ fn('pll_e', 'Войти') }}
    </button>
  </form>
{% endblock %}
