<footer id="footer" class="footer">
  <nav>
    <ul class="footer__nav">
      <li class="footer__copyright">
        <span>&copy; 2020 <b>Наша Португалия</b></span>
      </li>
      {% set footerLinks = {
        item1: {
          permalink: '/ru/about',
          label: 'О нас',
        },

        item2: {
          permalink: '/ru/contact-us',
          label: 'Обратная связь',
        },

        item3: {
          permalink: '/ru/toc',
          label: 'Условия использования',
        },

        item4: {
          permalink: 'https://super-mark.ru/',
          label: 'Дизайн и&nbsp;разработка&nbsp;— SuperMark',
          author: true
        }
      } %}

      {% for item in footerLinks %}
        <li class="{% if item.author %}d-none d-mdl-inline-block{% endif %}">
          <a
            class="footer__nav-link"
            href="{{ item.permalink }}"
            {% if item.author %}target="_blank" rel="noopener noreferrer"{% endif %}
          >
            {{ item.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="footer__social-links">
      {% set
        socialLinks = {

          item1: {
            label: 'Facebook',
            link: 'https://www.facebook.com/ourPortugal'
          },
          item2: {
            label: 'Instagram',
            link: 'https://www.instagram.com/ourPortugal'
          },
          item3: {
            label: 'YouTube',
            link: 'https://www.youtube.com/user/ourPortugal'
          }
        }
      %}

      {% for item in socialLinks %}
        <li>
          <a class="footer__social-link" href="{{ item.link }}" aria-label="{{ item.label }}">
            <svg class="icon is-lg" aria-hidden="true" focusable="false">
              <use href="/wp-content/themes/our-portugal-2020/img/base/graphics/sprite.svg#icon-{{ item.label|lower }}-lg"></use>
            </svg>
          </a>
        </li>
      {% endfor %}

    </ul>
  </nav>
</footer>
