<header class="header">
  <nav class="navbar">
    <a href="/" class="navbar__logo" rel="home" aria-label="{{ fn('pll_e', 'Главная страница веб-сайта') }}">
      <picture>
        <source media="(max-width: 767px)" srcset="/wp-content/themes/our-portugal-2020/img/components/logo/logo-sm.svg">
        <source media="(min-width: 768px)" srcset="/wp-content/themes/our-portugal-2020/img/components/logo/logo.svg">
        <img src="/wp-content/themes/our-portugal-2020/img/components/logo/logo.svg" alt="{{ fn('pll_e', 'Логотип «Нашей Португалии»') }}">
      </picture>
    </a>

    <div class="navbar__menu has-language-switcher">
      {% include "language-switcher.twig" %}
      <a class="link is-phone" href="tel:{{ global.phone|replace({' ': ''}) }}">
        <svg class="icon" aria-hidden="true" focusable="false">
          <use href="{{ site.theme.link }}/img/base/graphics/sprite.svg#icon-phone"></use>
        </svg>
        {{ global.phone }}
      </a>
    </div>
  </nav>
</header>
